<?php

return array(
    'view_manager' => array(
        'display_not_found_reason' => true,
        'display_exceptions' => true,
    ),
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '5432',
                    'user'     => 'zfbase',
                    'password' => 'zfbase',
                    'dbname'   => 'zfbase',
                ),
            ),
        ),
    ),
    'mail' => array(
        'name' => 'smtp.gmail.com',
        'host' => 'smtp.gmail.com',
        'port' => 587,
        'connection_class' => 'login',
        'connection_config' => array(
            'username' => 'teste@teste.com',
            'password' => 'psw',
            'ssl' => 'tls',
            'from' => 'teste@teste.com',
        ),
    ),
);
